<!-- views/comments.handlebars -->


<div class="comments">
    <ul>
        {{#each comments}}
        <li>
            {{this.text}}

            <!-- Option to edit/delete comment if user owns it -->
 {{#if userOwnsComment}}
            <button class="edit-comment" data-commentId="{{id}}">Edit</button>
            <button class="delete-comment" data-commentId="{{id}}">Delete</button>
            {{/if}} 
        </li>
        {{/each}}
    </ul>

    <!-- Form to add a new comment -->
    <h3>Add a Comment</h3>
    <form id="comment-form">
        <input type="hidden" id="post-id" value="{{postId}}">
        <textarea id="comment-text" placeholder="Write your comment here"></textarea>
        </form>
        <button type="submit">Add Comment</button>
</div>