<div class="contact-page">
    <!-- Introduction section -->
    <div class="introduction">
        <h2>DAISY</h2>
        <p>Hello! Daisy here,</p>
        <p>I am a Certified Scrum Master and a Full Stack Developer. I am versatile in different web and desktop applications. Aside from coding, I am curious about new ways to improve myself.</p>
    </div>

    <!-- Contact information section -->
    <div class="contact-info">
        <h3>Contact Me</h3>
        <div class="contact-links">
            <a href="mailto:daisyisibor9@duck.com" target="_blank">
                <img src="./images/gmail.svg" class="connect" alt="email logo">
            </a>

            <a href="https://github.com/DaisyIsibor" target="_blank">
                <img src="./images/github.svg" class="connect" alt="github logo">
            </a>

            <a href="https://www.linkedin.com/in/daisy-isibor-fsd" target="_blank">
                <img src="./images/LinkedIn.svg" class="connect" alt="linkedin logo">
            </a>
        </div>
    </div>
</div>
