<!-- profile.handlebars -->
<section id="profile-info">
    
    <!-- Include profile information here -->
    <p><h2>Welcome, {{ username }}</h2></p>
</section>


<script src="./js/profile.js"></script>