/* Styling for Sign In Form */
.signinform {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    margin-bottom: 20px;
    height: 45px;
    width: 90%;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -7px;
    font-size: 12px;
    font-weight: 600;
    z-index: 10;
    left: 3px;
    color: #34495e;
}

::placeholder {
    color: transparent;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color:mediumseagreen;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: darkseagreen;
    transform: translateY(-2px);
}

.post-info {
    font-size: 20px;
    color: #3e2723;
    margin-left: 20px;

    

}
/* stylink for each post and how it's displayed*/

.post {
    padding-bottom: 20px; 
    margin-bottom: 20px;
    overflow-y: auto;
    padding-top: 90px;
    margin-right:20px;
    margin-top: 20px;
    margin-left:30px;

}

.post h2 {
    color:#3e2723; /* color of the title */
    border: 2px seagreen;
    background-color: seagreen;
    padding:10px;
    font-size: 30px;
    margin-left:30px;
}

/* Styling for the post content */
.post p {
    border: 4px solid seagreen; 
    padding: 20px; /* padding inside the border */
    font-size: 18px;
    

}

/* Container for the entire contact page */
.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Introduction section */
.introduction {
    margin-bottom: 20px;
}

.introduction h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.introduction p {
    font-size: 16px;
    line-height: 1.5;
}

/* Contact information section */
.contact-info {
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

.contact-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.contact-links {
    display: flex;
    align-items: center;
}

.contact-links a {
    margin-right: 10px;
}

.contact-links img {
    width: 40px; 
    height: auto;
}

/* Hover effect for contact links */
.contact-links a:hover img {
    opacity: 0.7;
}

/* Styling for the h2 tag */
#profile-info h2 {
    font-size: 25px; 
}

/* Styling for the profile-info section */
#profile-info {
    padding: 80px; 
}


#write-form {
    padding: 20px; 
    background-color: blanchedalmond;
    margin-top:50px; 

    
}

#write-form form {
    max-width: 800px; 
    margin: 0 auto; 
}

#write-form h2 {
    font-size: 24px; 
    margin-bottom: 20px; 
}

#write-form label {
    font-weight: bold; 
}

#write-form input[type="text"],
#write-form textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

#write-form textarea {
    resize: vertical; 
}

#write-form button[type="submit"] {
    background-color:mediumseagreen;
    color: white;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#write-form button[type="submit"]:hover {
    background-color:darkseagreen;
}


/* Styling for the comments section */
.comments-section {
    margin-top: 20%; 
    padding: 30px;
    background-color: #f5f5f5;
    border: 1px solid darkseagreen;
    display: flex;
    flex-direction: column;
}

/* Styling for the form elements */
#comment-form {
    display: flex;
    flex-direction: column;
    align-items:end; 
    margin-top: 20%; 
    max-width: 50%; 
    border: 1px solid darkseagreen;
}

/* Hide the post-id input field */
/* #post-id {
    display: none; 
} */


.add-comment-btn{
    padding: 10px 20px; 
    font-size: 16px;
    background-color: seagreen;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left:30px;

}

input[type="text"],
textarea {
    padding: 20px;
    font-size: 16px;
    border: darkseagreen;
    margin-bottom: 15px;
    width: 100%; 

}

textarea {
    height: 120px; 
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px; 
    font-size: 16px;
    background-color: seagreen;
    color: #fff;
    border: none;
    cursor: pointer;
    align-self:end; /* Align button to the end of the form */
    width: auto;
}

.delete-post-btn {
    background-color: indianred;
    color: white;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:15px;

}

.delete-post-btn:hover {
    background-color: crimson;
}

.edit-post-btn {
    background-color: dodgerblue;
    color: white;
    padding: 6px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:3px;
}

.edit-post-btn:hover {
    background-color: royalblue;
}