/* Styling for Sign In Form */
.signinform {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}

.title {
    font-size: 50px;
    margin-bottom: 50px;
}

.inputContainer {
    position: relative;
    margin-bottom: 20px;
    height: 45px;
    width: 90%;
}

.input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
}

.label {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: -7px;
    font-size: 12px;
    font-weight: 600;
    z-index: 10;
    left: 3px;
    color: #34495e;
}

::placeholder {
    color: transparent;
}

.submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: #34495e;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
}

.submitBtn:hover {
    background-color: lightblue;
    transform: translateY(-2px);
}

.post-info {
    font-size: 14px;
    color: #888;
    margin-left: 10px;
}